*{
    text-align:center;
    /*font-size:62.5%;*/
}
body{
    /*background-color: #D04A02;*/
}

#header{
    width:100%;
    height:120px;
    background-color: #E0301E;
    color:white;
    font-size:2.4rem;
}
#headerIconContainer{
    float:left;
    height:100%;
    width:25%;
}
#headerText{
    float:left;
    height:100%;
    width:50%;
    font-size:4.8rem;
}
#loginContainer{
    margin: auto;
    height:100%;
    width:25%;
}
label{
    font-size:2rem;
}
.form-group{
    margin-bottom: 1px;
}
#main{
    width:100%;
    border:black solid 2px;
}
#userContainer{
    font-size:1.2rem;
}
#historyContainer{
    font-size:1.2rem;
}
#historyContainer>div{
    text-align: left;
}
/*.history-right{*/
/*    text-align: right;*/
/*}*/
/*.history-left{*/
/*    text-align: left;*/
/*}*/
#footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #E0301E;
    color:white;
    font-size:2.4rem;
}
#calculatorContainer{
    height:500px;
    width:500px;
    /*margin:auto;*/
    padding-left: 0;
    padding-right: 0;
    border:red 1px solid;
}
#calculatorDisplay{
    height:20%;
    background-color: black;
    color:white;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size:4.8rem;


}
#calculatorButtonsContainer{
    display: grid;
    grid-template-columns: [col0]25% [col1]25% [col2]25% [col3]25% [colEnd];
    grid-template-rows: [row0]20% [row1]20% [row2]20% [row3]20% [row4] 20%[rowEnd];
    grid-template-areas:
        "clearButton divideButton multiplyButton subtractButton"
        "n7 n8 n9 addButton"
        "n4 n5 n6 addButton"
        "n1 n2 n3 equalsButton"
        "n0 n0 decimalButton equalsButton";
    height:80%;
}
.calculatorButton{
    margin:1px;
    font-size:2.4rem;
}
#clearButton{
    grid-area: clearButton;
}
#divideButton{
    grid-area: divideButton;
}
#multiplyButton{
    grid-area:multiplyButton;
}
#subtractButton{
    grid-area: subtractButton;
}
#addButton{
    grid-area: addButton;
}
#equalsButton{
    grid-area: equalsButton;
}
#decimalButton{
    grid-area: decimalButton;
}
#n9Button{
    grid-area: n9;
}#n8Button{
    grid-area: n8;
}#n7Button{
    grid-area: n7;
}#n6Button{
    grid-area: n6;
}#n5Button{
    grid-area: n5;
}#n4Button{
    grid-area: n4;
}#n3Button{
    grid-area: n3;
}#n2Button{
    grid-area: n2;
}#n1Button{
    grid-area: n1;
}#n0Button{
    grid-area: n0;
}
