<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Showing all data, or data with a certain age -->
<table th:if="${mockPeople!=null}">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="mockPerson:${mockPeople}">
        <td th:text="${mockPerson.id}">id</td>
        <td th:text="${mockPerson.name}">name</td>
        <td th:text="${mockPerson.age}">age</td>
    </tr>
</table>

<div th:if="${mockPeople==null}" >  No results to show...</div>

<hr>
<!-- Form example -->

<form action="#" th:action="@{/mockpeople}" th:object="${mockPersonView}" method="post">
    Name:<input type="text" name="name" th:field="*{name}"></br>
    Age :<input type="number" name="age" th:field="*{age}"></br>
    <input type="submit">

</form>
</br>
<div th:if="${newPersonMessage!=null}"><span th:text="${newPersonMessage}">testing</span></div>
<hr>

<a href="index.html">Back to index</a>
</body>
</html>